body
{background-image:url("IMG_5227.jpg");}

p
{text-align:center;
color:black;
font-family:constantia}

p
{text-align:justify;
font-size:35;
font-family:constantia;
font-weight:italic;
background-color:yellow;}